<article class="large-width center">
  <h2 class="center-align">
    <%= rodauth.multi_phase_login_page_title %>
  </h2>
  <%= render "rodauth/beer/multi_phase_login_form" %>
  <%= render "rodauth/beer/login_form_footer" %>
</article>