<h1>New spent</h1>

<%= turbo_frame_tag spent do %>
  <%= render "form",
             spent: spent,
             categories: categories,
             subcategories: subcategories %>
<% end %>

<br>

<div>
  <%= link_to "Back to spents", spents_path %>
</div>
