/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}

a.button {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.warning {
  color: var(--warning);
}

form.pure-form  .warning{
  color: var(--warning);
}

table.pure-table.compact-table td,
table.pure-table.compact-table th {
  padding: 0.45em 0.27em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pure-g.centered-grid {
  justify-content: center;
}

.to-right {
  display: flex;
  justify-content: flex-end;
}

.center-flex {
  justify-content: center;
}

main .material-symbols-outlined {
  font-size: 1.3rem;
}

.hidden {
  display: none;
}

body .content {
  padding: 1em 1em 0;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

[popover] {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.pure-table thead {
  background-color: var(--thead-color);
  color: var(--font-color);
}

.pure-table-striped tr:nth-child(2n-1) td {
  background-color: var(--stripped-row-color);
  color: var(--font-color);
}

input {
  background-color: var(--bg-color);
  color: var(--font-color); 
}

.pure-form select {
  background-color: var(--bg-color);
}

.pure-button {
  background-color: var(--button-color);
  color: var(--button-font-color);
}

a.pure-button {
  background-color: var(--button-color);
  color: var(--button-font-color);
  text-decoration: none;
}

.pure-button-primary {
  background-color: var(--button-primary-color);
  color: var(--button-primary-font-color);
}

a.pure-button-primary {
  background-color: var(--button-primary-color);
  color: var(--button-primary-font-color);
}

select {
  color: var(--font-color);
}

.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] {
  background-color: var(--disable-color);
  color: var(--disable-font-color);
}

.pure-menu-link {
  color: var(--pure-menu-link-font-color);
}
