.pure-button.button-small {
  font-size: 85%;
}

.pure-button.button-xsmall {
  font-size: 70%;
}

.pure-button.button-small {
  font-size: 85%;
}

.pure-button.button-large {
  font-size: 110%;
}

.pure-button.button-xlarge {
  font-size: 125%;
}
