.popover-container {
  border: 0px;
}

.popover-container::backdrop {
  background: rgba(0, 0, 0, 0.856);
}

@media(max-width: 48em) {
  .popover-container {
    width: 90vw;
  }
}

@media(min-width: 48em) {
  .popover-container {
    width: 50vw;
  }
}
