.scrollable-table {
  overflow-y: auto;
  max-height: 59vh;
}

.scrollable-table > table {
  width: 100%;
}

.scrollable-table thead {
  position: sticky;
  top: 0px;
}

@media(min-height: 42rem) {
.scrollable-table {
    max-height: 90vh;
  }
}
