.scrollable-table {
  overflow-y: auto;
  max-height: 68vh;
}

.scrollable-table > table {
  width: 100%;
}

.scrollable-table thead {
  position: sticky;
  top: 0px;
}

@media (min-width: 768px) {
  .scrollable-table {
    max-height: 80vh;
  }
}
