:root {
  --warning: red;
  --sidebar: rgb(61, 79, 93);
  --sidebarfont: white;
  --sidebar-link-hover: rgb(51, 58, 78);
  --color-white: hsl(0, 0%, 100%);
  --color-text-header: hsl(0, 1%, 16%);
  --color-dark: var(--color-text-header);

  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
  --space-xxxxl: 4rem;

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 2.5rem;
}
