:root {
  --warning: red;
  --sidebar: rgb(61, 79, 93);
  --sidebarfont: white;
  --sidebar-link-hover: rgb(51, 58, 78);
  --color-white: hsl(0, 0%, 100%);
  --color-text-header: #050C1A;
  --color-dark: var(--color-text-header);
  --color-dark-9: #0C1829;
  --color-dark-7: #223345;
  --color-dark-5: #3d4f5d;
  --color-dark-4: #6B808C;
  --color-dark-lighten: #28282ee8 ;
  --color-light-3: #A2B5BD;
  --color-light-2:  #C5D2D6;
  --color-light-1: #E9EEF0;
  --color-light: #F2F6F7;
  --color-blue-light: #70ade6;
  --thead-color: var(--color-light-1);
  --pure-menu-link-font-color: #777;
  --button-color: #e6e6e6;
  --disable-color: #eee;
  --disable-font-color: #777;
  --button-primary-color: #0078e7;
  --button-primary-font-color: #fff;

  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
  --space-xxxxl: 4rem;

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 2.5rem;

  /* tested on iphone 14 prox max */
  --min-vertical-height: 42rem
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--color-dark);
    --font-color: var(--color-light);
    --thead-color: var(--color-dark-7);
    --stripped-row-color: var(--color-dark-9);
    --button-color: var(--color-dark-5);
    --button-font-color: var(--color-light);
    --button-primary-color: var(--color-blue-light);
    --button-primary-font-color: var(--color-dark);
    --disable-color: var(--color-dark-lighten);
    --disable-font-color: #888686;
    --pure-menu-link-font-color: var(--color-light);
  }
}
