<%# locals: (categories:) %>
<div class="pure-g">
  <div class="index-list">
    <%= render categories %>
  </div>

  <div class="pure-u-1-3">
    <%= link_to t(".new_category"), new_category_path, class: "pure-button" %>
  </div>
</div>
