<ul class="pure-menu-list">
  <li class="pure-menu-item">
    <%= link_to t("links.home"), dashboard_path, class: "pure-button" %>
  </li>
  <li class="pure-menu-item">
    <%= link_to t("links.expenses"), expenses_path, class: "pure-button" %>
  </li>
  <li class="pure-menu-item">
    <%= link_to t("links.categories"), categories_path, class: "pure-button" %>
  </li>
  <li class="pure-menu-item">
    <%= link_to t("links.budget"), dashboard_budget_show_path, class: "pure-button" %>
  </li>
</ul>
